body
{
    margin: 0;
    padding: 0;
    font-variant-numeric: normal;
    background: black;
}
.inicio
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: #474a51;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.inicio h2
{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}
.inicio .inputBox
{
    position: relative;
}
.inicio .inputBox input
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}
.inicio .inputBox label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
    transition: .5px;

}
.inicio .inputBox input:focus ~ label
{
    top: -18px;
    left: 0;
}
.inicio input[type="Login"]
{
    background: transparent;
    border: none;
    outline: none;
    color: black;
    background: blanchedalmond;

}